<section id="activity-list">
  <h1>Change makers</h1>
  <article class="activity-item" *ngFor="let activity of usersList">
    <!-- <i class="fas {{ activity.image }} circle-icon"></i> -->
    <h2>{{ activity.name }}</h2>
    <img style="height: 100px" src="{{ activity.image }}" />
    <button class="btn-add" (click)="addToDailyPlan(activity)">
      + Read more
    </button>
  </article>
</section>

<section id="activity-list">
  <div>
    <button class="btn-add" (click)="addToDailyPlan(activity)">
      + I want to contribute
    </button>
    <button class="btn-add" (click)="addToDailyPlan(activity)">
      + I have an idea
    </button>
  </div>
</section>
