<section id="activity-list">
  <h1>Some good deeds</h1>
  <article class="activity-item" *ngFor="let activity of activitiesList">
    <!-- <i class="fas {{ activity.image }} circle-icon"></i> -->
    <h2>{{ activity.name }}</h2>
    <img style="height: 100px" src="{{ activity.image }}" />
    <p>{{ activity.description }}</p>
    <button class="btn-add" (click)="activitiesDetails()">
      + Read more
    </button>
  </article>
</section>
<app-activities-details *ngIf="show"> </app-activities-details>
